syntax: glob

# No backup files 
*~
.~*

# No .class
*.class

# No temp latex
*.gz
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
.recommenders

# No spurious
.fuse*
*.backup
.~
.directory
.DS_Store
*.index
*.lck
*META*

# folders
code/oop22-slides/bin/*
code/oop22-slides/lib/*
slides/build/*
code/oop22-slides/src/aula/*
code/oop22-slides/src/aula20/*

# no pdf and zip

*.pdf
*.zip
*.fls
*.fdb_latexmk

/.metadata/
